openpyxl~=3.1.0
pandas~=2.2.2
xlsxwriter
xlutils
playwright~=1.44.0
pytest~=7.4.4
pytest-playwright
pytest-base-url
pytest-html~=3.2.0
pytest-metadata
pytest-rerunfailures
pytest-xdist
pytest-reporter
pytest-reporter-html1
slugify
names
expects
pymupdf
base
faker
allure-pytest
jsonpath-ng
requests
matplotlib
pywin32
truststore